:root{
  --opacidad-sombra:#0000007c;
  --color0:burlywood;
  --blanco:#fff;
  --negro:#000;
  --color1: lightblue ;
  --color2: lightcoral;
  --color3:darkred;
  --color4: lightseagreen;
  --border: 2px solid
}